// ESTILOS DE FUENTES

$AzulFuerte: #1F314F;
$GrisClaro: #68778D;
$AzulCielo: #D5E1EF;
$Blanco: #FFFFFF;

// FUENTES PRINCIPALES

$Fuente: "Outfit", sans-serif;

// MEDIA QUERYS

$telefono: 480px;
$tablet: 768px;