// Utilidades

.line-height{
    line-height: 1.4;
}

.letter-spacing{
    letter-spacing: .2rem;
}

.bold{
    font-weight: 700;
}

.regular{
    font-weight: 400;
}

.border-card{
    border-radius: 2rem;
}
.border-img{
    border-radius: 1rem;
}

.text-center{
    text-align: center;
}